{% layout 'layouts/base' %}
<article class="entry entry-single" itemscope itemtype="https://schema.org/BlogPosting">
  {% if post.cover_image %}
    <figure class="entry-cover">
      <img itemprop="image" src="{{ post.cover_image | image_size: 'large' }}" alt="{{ post.title }}" loading="eager" />
    </figure>
  {% endif %}
  <header class="container">
    <p itemprop="datePublished">{{ post.published_at | post_date }}</p>
    <h1 itemprop="headline">{{ post.title }}</h1>
    <hr />
  </header>
  <div class="container content" itemprop="articleBody">
    {% the_content %}
    <hr />
    {% get_author post.id as author %}
    {% if author %}
      <aside class="author-bio" itemprop="author" itemscope itemtype="https://schema.org/Person">
        {% if author.image != blank %}
          <img src="{{ author.image | image_size: 'thumbnail' }}" alt="{{ author.name }}" width="64" height="64" itemprop="image" />
        {% endif %}
        <h3 itemprop="name">{{ author.name }}</h3>
        {% if author.description != blank %}
          <p itemprop="description">{{ author.description }}</p>
        {% endif %}
      </aside>
    {% endif %}
  </div>
</article>
